:local {
    .banner {
        margin-top: 0;
        padding: 30px 40px 30px 40px;
        background-image: url('../../assets//images/bg.svg');
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        direction: ltr;

        &--tagline {
            font-weight: 700;
            letter-spacing: 0.8px;
            padding: 10px 12px;
            background: linear-gradient(90.21deg, rgba(11, 41, 124, 0.5) -5.91%, rgba(88, 61, 209, 0.5) 111.58%);
            margin-bottom: 16px;
            display: inline-block;
        }

        &--title {
            font-size: 65px;
            font-weight: 700;
            letter-spacing: 0.8px;
            line-height: 1;
            margin-bottom: 20px;
            display: block;
        }

        &--subtitle {
            border-right: 0.08em solid #666;
            font-size: 40px;
            letter-spacing: 0.8px;
        }

        img {
            animation: updown 3s linear infinite;
            max-width: 550px;
            @media (max-width: 768px) {
                max-width: 350px;
            }
            @media (max-width: 768px) {
                max-width: 250px;
            }
        }
    }

    @keyframes updown {
        0% {
            transform: translateY(-20px);
        }

        50% {
            transform: translateY(20px);
        }

        100% {
            transform: translateY(-20px);
        }
    }


}