/* Your existing CSS styles */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInAndRotate {
    0% {
        transform: translateX(-100%) rotate(-30deg);
        opacity: 0;
    }

    100% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}

@keyframes slideOutAndRotate {
    0% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }


    100% {
        transform: translateX(-100%) rotate(-30deg);
        opacity: 0;
    }
}

:local {
    .portfolio-slider {
        &--header {
            text-align: center;

            &--title {
                z-index: 1;
                padding: 10px;
                animation: fadeIn 1s ease-in-out;
            }

            img {
                animation: fadeIn 1s ease-in-out;
                height: 40%;
                position: absolute;
                z-index: 0;
            }

            &--sub-title {
                padding: 10px;
                animation: fadeIn 2s ease-in-out;
            }
        }

        &-section {
            padding: 20px;
            box-sizing: border-box;


            .project-circle {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                margin: 0 5px;
                transition: white 0.3s ease-in-out;
                z-index: 2;
            }

            .active-circle {
                background-color: #007bff;
            }



            .phone-image {
                position: relative;
                width: 400px;
                height: 500px;
                object-fit: cover;
                background-image: url('../../assets/images/phone.png');
                background-size: 400px 500px;
                animation: slideInAndRotate 3s ease-in-out;

                img {
                    position: absolute;
                    width: 270px;
                    height: 460px;
                    object-fit: cover;
                    border-radius: 30px;
                    top: 10px;
                    left: 65px;
                }
            }

            .laptop-image {
                position: relative;
                width: 600px;
                height: 400px;
                object-fit: fill;
                background-image: url('../../assets/images/Laptop.png');
                background-size: 600px 400px;
                animation: slideInAndRotate 3s ease-in-out;

                img {
                    width: 560px;
                    height: 258px;
                    object-fit: fill;
                    position: absolute;
                    top: 22px;
                    left: 20px;

                }

            }

            .slideOutAndRotate {
                animation: slideOutAndRotate 3s ease-in-out;
            }
        }
    }

}