/* Your existing CSS styles */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInAndRotate {
    0% {
        transform: translateX(-100%) rotate(-30deg);
        opacity: 0;
    }

    100% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}

@keyframes slideInAndRotateLeft {
    0% {
        transform: translateX(100%) rotate(30deg);
        opacity: 0;
    }

    100% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}

@keyframes slideOutAndRotate {
    0% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }


    100% {
        transform: translateX(-100%) rotate(-30deg);
        opacity: 0;
    }
}

@keyframes slideOutAndRotateLeft {
    0% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }


    100% {
        transform: translateX(100%) rotate(30deg);
        opacity: 0;
    }
}

:local {
    .portfolio-slider {
        position: relative;
        width: 100%;
        box-sizing: border-box;
        padding-bottom: 50px;

        &--header {
            text-align: center;

            &--title {
                z-index: 2;
                animation: fadeIn 1s ease-in-out;
                font-weight: 700;
                letter-spacing: 0.8px;
                padding: 8px 10px;
                background: linear-gradient(90.21deg, rgba(11, 41, 124, 0.5) -5.91%, rgba(88, 61, 209, 0.5) 111.58%);
                border: 1px solid rgba(255, 255, 255, 0.5);
                border-radius: 10px;
                font-size: 20px;
                margin-bottom: 16px;
                display: inline-block;
            }



            &--sub-title {
                padding: 10px;
                animation: fadeIn 2s ease-in-out;
            }
        }

        &--top-wave {
            position: absolute;
            top: 0px;

            @media (max-width: 993px) {
                visibility: hidden;
            }
        }





        .project-circle {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            margin: 5px;
            transition: white 0.3s ease-in-out;
            z-index: 4;
            transition: background-color 2.5s ease;
        }

        .active-circle {
            background-color: #007bff;
        }

        &-section {
            padding: 20px 20px 0px 20px;
            box-sizing: border-box;
            overflow: hidden;
            height: 100%;

            .phone-image {
                position: relative;
                width: 300px;
                height: 400px;
                object-fit: cover;
                background-image: url('../../assets/images/phone.png');
                background-size: 300px 400px;
                animation: slideInAndRotate 1s ease-in-out;
                z-index: 3;

                img {
                    position: absolute;
                    width: 200px;
                    height: 370px;
                    object-fit: cover;
                    border-radius: 30px;
                    top: 10px;
                    left: 50px;
                    z-index: 4;
                }
            }

            .laptop-image {
                position: relative;
                width: 600px;
                height: 400px;
                object-fit: fill;
                background-image: url('../../assets/images/Laptop.png');
                background-size: 600px 400px;
                animation: slideInAndRotate 1s ease-in-out;
                background-repeat: no-repeat;
                background-position: center center;
                z-index: 3;

                @media (max-width: 1234px) {
                    width: 400px;
                    height: 400px;
                    background-size: 400px 258px;
                }

                @media (max-width: 397px) {
                    width: 300px;
                    height: 400px;
                    background-size: 300px 258px;
                }

                img {
                    width: 560px;
                    height: 258px;
                    object-fit: fill;
                    position: absolute;
                    top: 22px;
                    left: 20px;
                    z-index: 4;

                    @media (max-width: 1234px) {
                        width: 366px;
                        height: 167px;
                        top: 84px;
                        left: 17px;
                    }

                    @media (max-width: 397px) {
                        width: 276px;
                        height: 166px;
                        top: 84px;
                        left: 12px;
                    }
                }

            }

            .project-details {
                padding: 20px;
                box-sizing: border-box;
                background-color: white;
                opacity: 1;
                border-radius: 10px;
                animation: slideInAndRotateLeft 1s ease-in-out;
                z-index: 3;

            }

            .slideOutAndRotate {
                animation: slideOutAndRotate 3s ease-in-out;
            }

            .slideOutAndRotateLeft {
                animation: slideOutAndRotateLeft 3s ease-in-out;
            }
        }
    }

}