:local {
    .chat {
        position: fixed;
        bottom: 20px;
        left: 15px;
        z-index: 50;

        &--btn {
            position: relative;
            width: 60px;
            height: 60px;

            &--tag {
                display: none !important;
                position: absolute;
                left: 65px;
                padding: 6px 8px;
                background-color: rgba($color: #000000, $alpha: 0.6);
            }

            &:hover &--tag {
                display: flex !important;
            }
        }
    }

    .icon {
        &>a {
            // position: absolute !important;
            // right: 0 !important;
            // bottom: 0 !important;
            // background: transparent !important;
            // width: 60px !important;
            // height: 60px !important;
            display: none;
        }
    }
}