:local {
    .footer {
        width: 100%;
        box-sizing: border-box;
        padding-top: 30px;

        &--address {
            box-sizing: border-box;
            padding: 0px 20px;
            text-align: center;
        }

        &--contacts {
            box-sizing: border-box;
            padding: 0px 20px;
            text-align: center;

            &--slot {
                margin: 6px 10px;
            }
        }

        &--socials {
            box-sizing: border-box;
            padding: 0px 20px;

            &--btn {
                transition: all .2s ease-in-out;

                &:hover {
                    transform: translateY(4px);
                }
            }
        }

        &--sign {
            width: 100%;
            margin-top: 20px;
            box-sizing: border-box;
            padding: 20px 0px;
        }
    }
}