$white: #ffffff;
$off-white: #edf2f7;
$black: #333333;

$gray: #737373;
$light-gray: #9ba2ab;
$off-gray: #dddddd;

$sky: #edf2f7;
$dark-blue: #2d3748;

$green: #6abf4b;
$yellow: #ffc557;
$baby-blue: #3cb4e5;
$orange: #ff7f40;
$pink: #fb5373;

$red: #ff3636;

.white {
    color: $white;
}

.white-bg {
    background-color: $white;
}

.off-white {
    color: $off-white;
}

.off-white-bg {
    background-color: $off-white;
}

.black {
    color: $black;
}

.black-bg {
    background-color: $black;
}

.gray {
    color: $gray;
}

.gray-bg {
    background-color: $gray;
}

.light-gray {
    color: $light-gray;
}

.light-gray-bg {
    background-color: $light-gray;
}

.off-gray {
    color: $off-gray;
}

.off-gray-bg {
    background-color: $off-gray;
}

.sky {
    color: $sky;
}

.sky-bg {
    background-color: $sky;
}

.dark-blue {
    color: $dark-blue;
}

.dark-blue-bg {
    background-color: $dark-blue;
}

.green {
    color: $green;
}

.green-bg {
    background-color: $green;
}

.yellow {
    color: $yellow;
}

.yellow-bg {
    background-color: $yellow;
}

.baby-blue {
    color: $baby-blue;
}

.baby-blue-bg {
    background-color: $baby-blue;
}

.orange {
    color: $orange;
}

.orange-bg {
    background-color: $orange;
}

.pink {
    color: $pink;
}

.pink-bg {
    background-color: $pink;
}

.red {
    color: $red;
}

.red-bg {
    background-color: $red;
}