.radius-5px {
    border-radius: 5px;
}

.radius-10px {
    border-radius: 10px;
}

.radius-15px {
    border-radius: 15px;
}

.radius-20px {
    border-radius: 20px;
}

.radius-25px {
    border-radius: 25px;
}

.radius-circular {
    border-radius: 50%;
}