:local {
    .page {
        box-sizing: border-box;
        padding: 100px 200px;
        background-image: url('../../assets/images/bg.svg');
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;

        &>div {
           transition: all 1s ease-out;
        }
    }

    h3 {
        min-width: max-content;
    }

    .container {
        box-sizing: border-box;
        padding: 15px 0;
    }

    .text {
        line-height: 2;
    }

    .img {
        max-width: 300px;
    }

    .divider {
        width: 35%;
        height: 1px;
        background-color: #fff; // Set the color of the line here
        margin: 15px 0; // Adjust the spacing around the line as needed
    }

    @media (max-width: 992px) {
        .page {
            padding: 100px 50px;
        }

        h1 {
            font-size: 24px !important;
        }

        h3 {
            font-size: 18px !important;
        }

        p {
            font-size: 14px !important;
        }

        .img {
            max-width: 200px;
        }

        .divider {
            width: 60%;
        }

        .vision {
            flex-direction: column-reverse;
        }
    }
}